@model QShop.Models.User
@{
	ViewData["Title"] = "Tài khoản | Qshop";
	ViewData["Page"] = "users";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css {
	<link rel="stylesheet" href="/css/customSelect2.css">
}

<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">CẬP NHẬT USER</h1>
	</div>
</div>
<form method="post" class="row mx-auto form-main" style="width: 90%" action="/admin/users/edit/?id=@Model.Id"
	enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<div class="col-6">
		<div class="blog-img w-100" style="height: 365px;">
			<img src="@Model.Thumbnail" id="previewImage" class="card-img-top" style="height: 100%; object-fit: cover" />
			<label for="ImageUpload" class="blog-img-backdrop">
				<i class="bi bi-camera-fill"></i>
			</label>
			<input type="file" id="ImageUpload" name="ImageUpload" hidden>
			<input type="text" id="Id" name="Id" value="@Model.Id" hidden>
			<input type="text" id="Thumbnail" name="Thumbnail" value="@Model.Thumbnail" hidden>
		</div>
		<div class="mb-3">
			<span class="nameInput">Role </span>
			<div class="confirm">
				<select name="Role" id="Role" class="w-100">
					<option value="Admin" selected='@(Model.Role == "Admin" ? "selected" :null)'>Admin Vip Pro</option>
					<option value="Guest" selected='@(Model.Role == "Guest" ? "selected" :null)' selected>Khách hàng</option>
					<option value="Block" selected='@(Model.Role == "Block" ? "selected" :null)'>Khoá tài khoản</option>
				</select>
			</div>
			<span asp-validation-for="Role" class="text-danger"></span>
		</div>
	</div>
	<div class="col-6 d-flex flex-column">
		<div class="mb-3">
			<span class="nameInput">UserName </span>
			<div class="confirm">
				<input type="text" class="w-100" placeholder="Tên tài khoản" name="UserName" value="@Model.UserName" />
			</div>
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<span class="nameInput">Email </span>
			<div class="confirm">
				<input type="text" class="w-100" placeholder="guest@gmail.com" name="Email" value="@Model.Email" />
			</div>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<span class="nameInput">Mật khẩu </span>
			<div class="confirm">
				<input type="text" class="w-100" placeholder="Mật khẩu" name="Password" value="@Model.Password" />
			</div>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<span class="nameInput">Ngày sinh </span>
			<div class="confirm">
				<input type="date" class="form-control" placeholder="Enter birthday" name="Birthday"
					value="@Model.Birthday.ToString("yyyy-MM-dd")">
			</div>
		</div>
		<span asp-validation-for="Birthday" class="text-danger"></span>
		<div class="mb-3">
			<span class="nameInput">Số dư </span>
			<div class="confirm">
				<input type="number" class="w-100" placeholder="Mật khẩu" name="Balance" value="@Model.Balance" />
			</div>
			<span asp-validation-for="Balance" class="text-danger"></span>
		</div>
		<div class="text-end">
			<a class="btn btn-simple" href="/admin/users">Huỷ bỏ</a>
			<button class="btn" type="submit">Save</button>
		</div>
	</div>

	</div>
</form>

@section js {
	<script type="module" src="/admin/js/user.js"></script>
}