@model BTTH.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<div class="w3-card w3-row-padding">
<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdAdr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdAdr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clsroom.Clsid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clsroom.Clsid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Stdid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>