@model List<QShop.Models.InvoiceViewModel>

@{
	ViewData["Title"] = "Profile | Qshop";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
	<link rel="stylesheet" href="/css/profile.css" />
	<link rel="stylesheet" href="/css/table.css" />
}

<div class="container-fluid p-0" style="margin-top: 66px">
	<div class="hero_marketplace bg_white">
		<div class="container">
			<h1 class="text-center text-uppercase">Lịch sử giao dịch</h1>
		</div>
	</div>
</div>
@if (Model.Count() > 0)
{
	<div class="container my-5">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th>ID đơn hàng</th>
					<th>Tài khoản</th>
					<th style="min-width: 200px">Giá</th>
					<th>Mã giảm giá</th>
					<th class="width: 0">Ngày giao dịch</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Invoice.Id</td>
						<td>
							@foreach (var elment in item.InvoiceDetails)
							{
								<div>@elment.account.Email</div>
							}
						</td>
						<td class="text-end">
							@foreach (var elment in item.InvoiceDetails)
							{
								<div>@elment.account.Price.ToString("N0")</div>
							}
							<div>Tổng tiền : @item.Invoice.Amount.ToString("N0")</div>
							<div>Giảm giá: - @item.Invoice.coupon.DiscountPercentage * @item.Invoice.Amount.ToString("N0") =
								-@((item.Invoice.Amount -
						item.Invoice.TotalAmount).ToString("N0")) </div>
							<div>__________</div>
							<div>Tổng tiền thanh toán: @item.Invoice.TotalAmount.ToString("N0")</div>
						</td>
						@if (item.Invoice.CouponId == 1)
						{
							<td></td>
						}
						else
						{
							<td>@item.Invoice.coupon.Code - @item.Invoice.coupon.Description</td>
						}
						<td>@item.Invoice.InvoiceDate</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="container text-center mb-5">
		<img src="/images/characters/yasuo.png" alt="">
		<div>Bạn chưa mua gì từ QShop!</div>
	</div>
}




@section js {
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script type="module" src="/js/profile.js"></script>
}