@model BTTH.Models.STDbio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>STDbio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sbjid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sbjid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stdid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stdid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="STDbioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
