@model BTTH.Models.STDbio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>STDbio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassroomID.SbjName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassroomID.SbjName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID.StdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentID.StdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.STDbioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
