@model IEnumerable<BTTH.Models.STDbio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<div class="w3-row-padding">
<h1>       Student's Progress </h1>

<div class="w3-twothird"> 


<p>
    <a asp-action="Create">Create New</a>
</p>
    <table class="table  w3-striped w3-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sbjid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stdid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sbjid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stdid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.STDbioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.STDbioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.STDbioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div></div>