@model IEnumerable<BTTH.Models.SubjectCls>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<div class="w3-row-padding">
    <h1>        Subject  Course </h1>

    <div class="w3-twothird">


        <p>
    <a asp-action="Create">Create New</a>
</p>
        <table class="table  w3-striped w3-white ">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SbjName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SbjDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SbjOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SbjName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SbjDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SbjOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sbjid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sbjid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sbjid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div></div>