@model IEnumerable<LSM.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý loại sách</h1>

<p>
    <a asp-action="Create">Thêm loại sách</a>
</p>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdCat">Edit</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdCat">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCat">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
