@using Newtonsoft.Json;

@{
    bool isLoggedIn = ViewData["Login"] as bool? ?? false;
    string userThumbnail = "";
    if(isLoggedIn)
    {
        userThumbnail = ViewData["Thumbnail"] as string ?? "/images/avatar-default.jpg";
    }
}
<div class="container-fluid">
		@if(@ViewData["Banner"] != "") {
		<div	div id="scroll-container" class="fixed-top">
			<div id="scroll-text">@Html.Raw(ViewData["Banner"])</div>
		</div>
		}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top p-0" style="top: 50px;">
        <div class="container-fluid py-1">
            <a href="/" class="navbar-brand">
                <img src="/images/q.png" alt="" class="img-square" />
                <div class="fw-bold brand-desc d-none d-lg-block">
                    <div class="gradient">SHOP</div>
                    <div>Acc Game</div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-joystick"></i> <span class="d-none d-md-block ms-2">Chọn game</span>
                        </a>
                        <ul class="dropdown-menu">
													@await Component.InvokeAsync("GameIcons")
                            @* <li>
                                <a class="dropdown-item" href="/market/?game=lien-minh-huyen-thoai">
                                    <img data-v-69836fc1="" class="w-6 h-6 mr-2" src="/images/games/league-of-legends-logo.svg" /><span>Liên minh huyền thoại</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/market/?game=valorant"><img data-v-69836fc1="" class="w-6 h-6 mr-2" src="/images/games/valorant-logo.svg" /><span>Volorant</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/market/?game=overwatch-2"><img data-v-69836fc1="" class="w-6 h-6 mr-2" src="/images/games/overwatch-2-logo.svg" /><span>Overwatch 2</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/market/?game=toc-chien">
                                    <img data-v-69836fc1="" class="w-6 h-6 mr-2" src="/images/games/lol-wild-rift-logo.svg" /><span>Tốc chiến</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/market/?game=dau-truong-chan-ly">
                                    <img data-v-69836fc1=""
																				class="w-6 h-6 mr-2"
																				src="/images/games/teamfight-tactics-logo.svg" />Đấu trường chân lý
                                </a>
                            </li> *@
                        </ul>
                    </li>
										@if(User?.Identity?.IsAuthenticated ?? false) {
										<li class="nav-item dropdown">
												<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
														<i class="bi bi-coin"></i> <span class="ms-2 d-none d-lg-block">Nạp tiền</span>
												</a>
												<ul class="dropdown-menu">
														<li><a class="dropdown-item" id="recharge-by-phone-card">Nạp bằng thẻ cào</a></li>
														<li><a class="dropdown-item" id="recharge-by-bank">Nạp bằng bank</a></li>
												</ul>
										</li>
										}
										@if(User.Identity.IsAuthenticated) {
											<li class="nav-item">
													<a class="nav-link" href="/profile/transaction"><i class="bi bi-clock-history"></i>
														<span class="ms-2 d-none d-md-block">Lịch sử giao dịch</span>
													</a>
											</li>
										}
										<li class="nav-item">
													<a class="nav-link" href="/reviews"><i class="bi bi-file-earmark-person"></i>
													<span class="ms-2 d-none d-md-block">Check uy tín</span>
													</a>
											</li>
										<li class="nav-item">
												<a class="nav-link" href="/articles"><i class="bi bi-book"></i>
												<span class="d-none d-md-block ms-2">Blog</span></a>
										</li>
										@if(User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
											<li class="nav-item" style="background: -webkit-linear-gradient(351.62deg, rgba(173, 93, 240, 0.2) 2.14%, rgba(173, 93, 240, 0.04) 96.06%);">
												<a class="nav-link" href="/admin/home"><i class="bi bi-gear"></i> 
													<span class="ms-2 gradient fw-bold d-none d-md-block">Admin page</span>
												</a>
											</li>
										}
                </ul>   
								<a class="me-4 position-relative" href="/carts">
										<i class="bi bi-bag-check fs-4"></i>
										@if((ViewData["CartsCount"] as int?)  > 9){
											<span class="badge bg-danger position-absolute" style="top: -10px; right: -15px;" id="cart-count">
												9+
											</span>
										} else if((ViewData["CartsCount"] as int?)  > 0) {
											<span class="badge bg-danger position-absolute" style="top: -10px; right: -15px" id="cart-count">
												@ViewData["CartsCount"]
											</span>
										}
										else {
											<span class="badge bg-danger position-absolute" style="top: -10px; right: -15px; display: none" id="cart-count">
												@ViewData["CartsCount"]
											</span>
										}
								</a>
								<a class="me-4 position-relative" id="notification" href="/notifications">
											<i class="bi bi-bell fs-4"></i>
										@if((ViewData["NotificationsCount"] as int?)  > 9){
											<span class="badge bg-danger position-absolute" style="top: -10px; right: -15px;" id="noti-count">
												9+
											</span>
										} else if((ViewData["NotificationsCount"] as int?)  > 0) {
											<span class="badge bg-danger position-absolute" style="top: -10px; right: -15px" id="noti-count">
												@ViewData["NotificationsCount"]
											</span>
										}
										else {
											<span class="badge bg-danger position-absolute" style="top: -10px; right: -15px; display: none" id="noti-count">
												@ViewData["NotificationsCount"]
											</span>
										}
								</a>             
                @if (isLoggedIn)
                {
										<div class="money-bag d-none d-lg-block">
											<img src="/images/money-bag.png" alt=""> <span>@string.Format("{0:N0}", ViewData["Balance"])₫</span>
										</div>
                    <div class="dropdown">
											<div class="nav-user ms-auto position-relative" data-bs-toggle="dropdown">
                        <a class="nav-link p-0 rounded-circle overflow-hidde h-100"
													href="/users"
													style="">
                            <img src="@userThumbnail"
																alt=""
																class="w-100 h-100 rounded-circle" style="object-fit: cover"/>
                        </a>
												@if(User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
												<img src="/images/Challenger-Border.png" alt="" class="position-absolute top-50 start-50 translate-middle"  style="width: 150%; z-index: -1"/>
												}
											</div>
                        <ul class="dropdown-menu dropdown-menu-end w-100" style="margin-top:6px !important;">
														<li class="d-block d-lg-none">
															<img src="/images/money-bag.png" alt="" height="30px"> 
															<span class="fw-bold">@string.Format("{0:N0}", ViewData["Balance"])₫
														</li>
                            <li><a class="dropdown-item" href="/carts">Giỏ hàng</a></li>
                            <li><a class="dropdown-item" href="/notifications">Thông báo</a></li>
                            <li><a class="dropdown-item" href="/profile">Thông tin tài khoản</a></li>
                            <li><a class="dropdown-item" href="/profile/transaction">Lịch sử giao dịch</a></li>
                            <li><a class="dropdown-item" href="~/home/logout">Đăng xuất</a></li>
                        </ul>
										</div>
                } else
                {
									<a class="btn me-1 btn-border" href="~/home/login">Đăng nhập</a>
									<a class="btn me-1" href="~/home/register">Đăng ký</a>
                }
            </div>
        </div>
    </nav>
</div>