@model QShop.Models.Account
@{
	ViewData["Title"] = "Details | QShops"; Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
	<link rel="stylesheet" href="/css/detail.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
	<style>
		.swiper {
			width: 100%;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
		}

		.swiper-slide {
			background-size: cover;
			background-position: center;
		}

		.mySwiper2 {
			height: 500px;
			width: 100%;
			border-radius: 12px;
		}

		.mySwiper {
			height: 100px;
			box-sizing: border-box;
			padding: 10px 0;
		}

		.mySwiper .swiper-slide {
			width: 25%;
			height: 100%;
			opacity: 0.4;
			border-radius: 12px;
			overflow: hidden;
		}

		.mySwiper .swiper-slide-thumb-active {
			opacity: 1;
		}

		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	</style>
}


<div class="container-fluid p-0" style="margin-top: 66px">
	<div class="hero_marketplace bg_white">
		<div class="container">
			<h1 class="text-center">CHI TIẾT TÀI KHOẢN</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="item_details">
		<div class="row sm:space-y-20 justify-content-center">
			<div class="col-lg-8">
				<div class="space-y-20">
					<div class="row">
						<div class="col-md-4 position-relative">
							<img class="item_img" src="/images/yasuo-thumbnail.jpg"
								alt="100,000+ Blue Essence Unranked Smurf - EUW" />
							<div class="card-cover">
								<div class="card-cover-top">
									<div class="card-cover-icon-sm"><img src="/images/Riot_icon.webp" /> @Model.PrimaryPoint</div>
									<div class="card-cover-icon-sm">@Model.SecondaryPoint+ <img src="/images/BE_icon.webp" /></div>
								</div>
								<div class="card-cover-center flex-fill">
									<img src="@Model.rank?.Thumbnail" alt="@Model.rank?.Name" class="w-8" />
								</div>
								<div class="card-cover-bottom">
									<div>
										<span class="card-cover-icon-md"><img src="/images/lol-champion.png" /></span>
										<span class="text-secondary">Tướng</span>
										<span>@Model.Champion</span>
									</div>
									<div>
										<span class="card-cover-icon-md"><img src="/images/Skin.png" /></span>
										<span class="text-secondary">Skin</span>
										<span>@Model.Skin</span>
									</div>
									<div>
										<span class="card-cover-icon-md"><img src="/images/Level.png" /></span>
										<span class="text-secondary">Level</span>
										<span>@Model.Grade</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<h3 style="text-align: center">#Account @Model.Id / @Model.Champion Tướng / @Model.Skin Skins</h3>
							<div class="box space-y-10 is__big" style="margin-top: 25px">
								<div class="d-flex justify-content-between">
									<span class="color-black">Giá</span>
									<span class="light_bg">
										<span class="currency_symbol"></span><span class="currency_price" data-id="73"
											data-original-price="27.5000">@string.Format("{0:N0}", Model.Price)</span>
										<span class="txt_sm color_text">₫ <i class="bi bi-coin bi-orange"></i></span>
									</span>
								</div>
								<div class="hr"></div>
								<div class="d-flex justify-content-between">
									<span class="color-black">Tinh hoa lam </span>
									<span class="light_bg">@Model.SecondaryPoint+ <i class="bi bi-gem bi-blue"></i></span>
								</div>
								<div class="hr"></div>
								<div class="d-flex justify-content-between">
									<span class="color-black">Tướng</span>
									<span class="light_bg">@Model.Champion <i class="bi bi-people-fill bi-red"></i></span>
								</div>
								<div class="hr"></div>
								<div class="d-flex justify-content-between">
									<span class="color-black">Skins</span>
									<span class="light_bg">@Model.Skin <i class="bi bi-robot bi-green"></i></span>
								</div>
								<div class="hr"></div>
								<div class="d-flex justify-content-between">
									<span class="color-black">RP</span>
									<span class="light_bg">@Model.PrimaryPoint <i class="bi bi-cash-coin bi-yellow"></i></span>
								</div>
								<div class="hr"></div>
								<div class="d-flex justify-content-between">
									<span class="color-black">Rank</span>
									<span class="light_bg">@Model.rank?.Name <i class="bi bi-controller bi-gray"></i></span>
								</div>
								<div class="hr"></div>
								<div class="d-flex justify-content-between">
									<span class="color-black">Level</span>
									<span class="light_bg">@Model.Grade <i class="bi bi-list-ol bi-pink"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="hr2"></div>
					<div class="text-center">
						<div class="action">
							@if (@Model.Status == "sold")
							{
								<button type="button" class="btn btn-sm btn_auction btn-simple" disabled="">
									<i class="bi bi-bag-check"></i>
									Đã bán
								</button>
							}
							else
							{
								<button class="btn my-1 btn-cart-create" data-url="/carts/create/?account=@Model.Id">
									<i class="bi bi-bag-plus"></i> Thêm vào Giỏ hàng
								</button>
							}
						</div>
					</div>
					<div class="box">
						<div class="space-y-20">
							<div>
								<button class="btn btn-simple">GALLERY</button>
							</div>
							<!-- Swiper -->
							<div class="positon-relative">
								<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-01.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-02.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-03.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-04.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-05.png" />
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<div thumbsSlider="" class="swiper mySwiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-01.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-02.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-03.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-04.png" />
										</div>
										<div class="swiper-slide">
											<img src="/images/accounts/account-detail-05.png" />
										</div>
									</div>
								</div>
							</div>
							<!-- Swiper -->
							@* <div class="row">
							<div class="card col">
							<img
							class="card-img-top"
							src="https://cdn.gameboost.com/games/league-of-legends/card/bg.webp"
							alt="Card image"
							/>
							<div class="card-body">
							<p class="card-text">#1</p>
							</div>
							</div>
							<div class="card col">
							<img
							class="card-img-top"
							src="https://cdn.gameboost.com/games/valorant/card/bg.webp"
							alt="Card image"
							/>
							<div class="card-body">
							<p class="card-text">#2</p>
							</div>
							</div>
							<div class="card col">
							<img
							class="card-img-top"
							src="https://cdn.gameboost.com/games/overwatch-2/card/bg.webp"
							alt="Card image"
							/>
							<div class="card-body">
							<p class="card-text">#3</p>
							</div>
							</div>
							<div class="card col">
							<img
							class="card-img-top"
							src="https://cdn.gameboost.com/games/lol-wild-rift/card/bg.webp"
							alt="Card image"
							/>
							<div class="card-body">
							<p class="card-text">#4</p>
							</div>
							</div>
							<div class="card col">
							<img
							class="card-img-top"
							src="https://cdn.gameboost.com/games/teamfight-tactics/card/bg.webp"
							alt="Card image"
							/>
							<div class="card-body">
							<p class="card-text">#5</p>
							</div>
							</div>
							</div> *@
							@* swiper *@
							<div class="hr"></div>
							<div class="tab-content" style="background-color: unset !important">
								<div class="tab-pane active" id="tabs-1" role="tabpanel" style="background-color: unset !important">
									<h4><strong>Lối nhỏ - Đen vâu</strong></h4>
									<p>
										Em vào đời bằng đại lộ còn anh vào đời bằng lối nhỏ <br />
										Anh nhớ mình đã từng thổ lộ anh nhớ rằng em đã chối bỏ<br />
										Anh nhớ chuyến xe buổi tối đó trên xe chỉ có một người ngồi<br />
										Anh thấy thật buồn nhưng nhẹ nhõm anh nhớ mình đã mỉm cười rồi<br />
										<br />
										Anh nghĩ anh cần cảm ơn em vì những gì mà anh đã nếm trải<br />
										Kỉ niệm sẽ là thứ duy nhất đi theo anh cả cuộc đời dài<br />
										Nếu không có gì để nhớ về anh sợ lòng mình khô nứt nẻ<br />
										Hình dung em như là Nữ Oa có thể vá tâm hồn này sứt mẻ<br />
										<br />
										Anh thường một mình tìm đến nơi có nhiều cây cối<br />
										Nghĩ về những ngày tàn đã trôi qua theo chiều tay với oh<br />
										Cũng chẳng nghĩ nhiều anh không mong những điều may tới<br />
										Vài nỗi buồn đã cũ sao bỗng nhiên giữa chiều nay mới<br />
										<br />
										Anh vẫn thường nghe thời Trống Vắng hay là Kiếp Ve Sầu<br />
										Những giấc mộng non như tán lá cây xanh biếc che đầu<br />
										Tình yêu thật ra đơn giản như là một cái bánh bao chay<br />
										Thắp lên lửa nhỏ hơn là cứ đi tìm hái ánh sao bay<br />
										<br />
										Đường xa quá lắm lúc thấy mình lẻ loi<br />
										Người đã đến vui đấy nhưng rồi cũng đi<br />
										Chạm lên trái tim thấy cơn mơ còn cháy nồng<br />
										Nhiều đêm trắng xoá bay lòng như có gió đầu mùa<br />
										<br />
										Ay<br />
										Yah<br />
										Em vào đời từ cao tầng còn anh vào đời từ mái lá<br />
										Thế nên những điều anh mong cầu không bao giờ là thái quá<br />
										Những thứ anh làm thường đơn giản nên không hay được đánh giá cao<br />
										Vài người thường ăn hải sản rồi lại chê bai mùi cá ao<br />
										<br />
										Giống như con người anh dễ nắm bắt và dễ chịu<br />
										Bài hát này không sâu xa rất dễ nghe và dễ hiểu<br />
										Anh không có nhiều lưu ý anh cảm thấy mình dễ chiều<br />
										Đây không phải là nhạc buồn đây là thứ nhạc để chill<br />
										<br />
										Em vào đời bằng náo nhiệt anh vào đời bằng âm thầm<br />
										Em đi tìm nốt thăng hoa lòng anh lại là âm trầm<br />
										Em đi tìm lời phố thị anh đi tìm tiếng ghi ta<br />
										Em đưa anh vào trong náo nhiệt anh lắc đầu và đi ra<br />
										<br />
										Em vào đời bằng vang đỏ anh vào đời bằng nước trà<br />
										Bằng cơn mưa thơm mùi đất và bằng hoa dại mọc trước nhà<br />
										Em vào đời bằng kế hoạch anh vào đời bằng mộng mơ<br />
										Lý trí em là công cụ còn trái tim anh là động cơ<br />
										<br />
										Em vào đời nhiều đồng nghiệp anh vào đời nhiều thân tình<br />
										Anh chỉ muốn chân mình đạp đất không muốn đạp ai dưới chân mình<br />
										Em vào đời bằng mây trắng em vào đời bằng nắng xanh<br />
										Em vào đời bằng đại lộ và con đường đó giờ vắng anh<br />
										<br />
										Đường xa quá lắm lúc thấy mình lẻ loi<br />
										Người đã đến vui đấy nhưng rồi cũng đi<br />
										Chạm lên trái tim thấy cơn mơ còn cháy nồng<br />
										Nhiều đêm trắng xoá bay (trắng xoá bay)<br />
										Lòng như có gió đầu mùa<br />
										<br />
										Đường xa quá lắm lúc thấy mình lẻ loi<br />
										Người đã đến vui đấy nhưng rồi cũng đi<br />
										Chạm lên trái tim thấy cơn mơ còn cháy nồng<br />
										Nhiều đêm trắng xoá bay (trắng xoá bay)<br />
										Lòng như có gió đầu mùa (có gió đầu mùa)<br />
										<br />
										Na na na<br />
										Na na na<br />
										Na na<br />
										Na na<br />
										<br />
										Hmm<br />
										Hmm<br />
										Hmm<br />
										Hmm hmm<br />
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@section js {
		<script type="module" src="/js/detail.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper('.mySwiper', {
				loop: true,
				spaceBetween: 10,
				slidesPerView: 4,
				freeMode: true,
				watchSlidesProgress: true,
			});
			var swiper2 = new Swiper('.mySwiper2', {
				loop: true,
				spaceBetween: 10,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				thumbs: {
					swiper: swiper,
				},
			});
		</script>
	}
</div>
