@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Person>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
</div>
<body>
   <table>
       <tr class="table-secondary">

           <th style="width:30%;">@Html.Label("First Name")</th>
           <th style="width:40%;">@Html.Label("Last Name")</th>
           <th style="width:30%;">@Html.Label("Title")</th>
       </tr>
       @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(t=>item.FirstName)</td>
                <td>@Html.DisplayFor(t=>item.LastName)</td>
                <td>@Html.DisplayFor(t=>item.Title)</td>
            </tr>
        }
   </table>
</body>
