@model CTsinhvien.Models.Exam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exresult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exresult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clsroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clsroom.Clsroomid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Studentid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subjectcls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subjectcls.Subjectclsid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Exid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
