@using QShop.Models;
@model IEnumerable<QShop.Models.ReviewViewModel>

@{
	ViewData["Title"] = "Đánh giá | QShop";
	Layout = "_Layout";
	dynamic result = ViewData["result"];
}

@section css {
	<link rel="stylesheet" href="/css/reviews.css" />
	<link rel="stylesheet" href="/css/pagination.css" />
}
<div class="container-fluid p-0" style="margin-top: 66px">
	<div class="hero_marketplace bg_white">
		<div class="container">
			<h1 class="text-center text-uppercase">Đánh giá về QShop</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="reviews-wrap">
		<div class="reviews-row row">
			<div class="reviews-info col-12 col-sm-12 col-md-4 col-lg mb-3">
				<div class="reviews-info-top row justify-content-center w-100">
					<div class="reviews-num col-md-12 col-lg-6 text-center">@result.avg / 5</div>
					<div class="stars fs-3 col-md-12 col-lg-6 justify-content-center">
						@Html.Raw(result.star)
					</div>
				</div>
				<span class="reviews-info-txt">@result.count đánh giá</span>
			</div>
			<div class="reviews-stat col-12 col-sm-12 col-md-4 col-lg">
				<div class="reviews-stat-row">
					<div class="reviews-stat-star"><i class="bi bi-star-fill"></i>5</div>
					<div class="reviews-stat-bar"><i style="width: @result.five%"></i></div>
					<span class="reviews-stat-txt">@result.five%</span>
				</div>
				<div class="reviews-stat-row">
					<div class="reviews-stat-star"><i class="bi bi-star-fill"></i>4</div>
					<div class="reviews-stat-bar"><i style="width: @result.four%"></i></div>
					<span class="reviews-stat-txt">@result.four%</span>
				</div>
				<div class="reviews-stat-row">
					<div class="reviews-stat-star"><i class="bi bi-star-fill"></i>3</div>
					<div class="reviews-stat-bar"><i style="width: @result.three%"></i></div>
					<span class="reviews-stat-txt">@result.three%</span>
				</div>
				<div class="reviews-stat-row">
					<div class="reviews-stat-star"><i class="bi bi-star-fill"></i>2</div>
					<div class="reviews-stat-bar"><i style="width: @result.two%"></i></div>
					<span class="reviews-stat-txt">@result.two%</span>
				</div>
				<div class="reviews-stat-row">
					<div class="reviews-stat-star"><i class="bi bi-star-fill"></i>1</div>
					<div class="reviews-stat-bar"><i style="width: @result.one%"></i></div>
					<span class="reviews-stat-txt">@result.one%</span>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg">
				<img src="/images/characters/zed.png" alt="" class="w-100">
			</div>
		</div>
		<a href="/reviews/create" class="btn w-100"><span>Viết đánh giá</span></a>
	</div>
	<div class="reviews-by mb-3 mt-5">
		<div class="sort text-end">
			<button type="button" class="btn btn-simple dropdown-toggle" data-bs-toggle="dropdown" id="sortBy-string"
				style="min-width: 160px;">
				Sắp xếp theo
			</button>
			<div class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item review-filter" data-filter="newest">Mới nhất</a></li>
				<li><a class="dropdown-item review-filter" data-filter="oldest">Cũ nhất</a></li>
			</div>
		</div>
	</div>
	<div class="reviews-content">
		<div class="reviews-item">
		</div>
		@*Paginate*@
		<div class="container mb-5">
			<div id="pagination" class="justify-content-end"></div>
		</div>
	</div>
</div>
@section js {
	<script type="module" src="/js/pagination.js"></script>
	<script type="module" src="/js/review.js"></script>
}