@model HomeViewModel

@{
	ViewData["Title"] = "Admin | Qshop";
	ViewData["Page"] = "home";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">DASHBOARD</h1>
	</div>
</div>

<div class="d-flex" style="gap: 20px;">
	<div class="w-25 d-flex form-main align-items-center p-3">
		<i class="bi bi-graph-up-arrow fs-2 ms-3"></i>
		<div class="ms-3">
			<div class="text-secondary">Số Account bán trong ngày</div>
			<div class="fw-bold fs-2">@Model.AccountSoldDay</div>
		</div>
	</div>
	<div class="w-25 d-flex form-main align-items-center">
		<i class="bi bi-bar-chart fs-2 ms-3"></i>
		<div class="ms-3">
			<div class="text-secondary">Doanh thu trong ngày</div>
			<div class="fw-bold fs-2">@Model.AmountDay.ToString("N0")₫</div>
		</div>
	</div>
	<div class="w-25 d-flex form-main align-items-center">
		<i class="bi bi-clipboard-data fs-2 ms-3"></i>
		<div class="ms-3">
			<div class="text-secondary">Số Account bán trong tháng</div>
			<div class="fw-bold fs-2">@Model.AccountSoldMonth</div>
		</div>
	</div>
	<div class="w-25 d-flex form-main align-items-center">
		<i class="bi bi-pie-chart fs-2 ms-3"></i>
		<div class="ms-3">
			<div class="text-secondary">Doanh thu trong tháng</div>
			<div class="fw-bold fs-2">@Model.AmountMonth.ToString("N0")₫</div>
		</div>
	</div>
</div>

<div class="d-flex" style="gap: 20px;">
	<div class="w-50 form-main ">
		<div class="text-secondary">Doanh thu theo tháng</div>
		<div>
			<canvas id="myChart"></canvas>
		</div>
	</div>
	<div class="w-50 form-main ">
		<div class="text-secondary">Số Account bán ra theo tháng</div>
		<div>
			<canvas id="myChart2"></canvas>
		</div>
	</div>
</div>

@section js {
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		let data01 = @ViewData["data01"];
		let data02 = @ViewData["data02"];
		const ctx = document.getElementById('myChart');
		new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12',],
				datasets: [{
					label: '# đ',
					data: data01,
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});

		const ctx2 = document.getElementById('myChart2');
		new Chart(ctx2, {
			type: 'line',
			data: {
				labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12',],
				datasets: [{
					label: '# số Acccount bán được',
					data: data02,
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	</script>

}