<div class="side-bar d-flex flex-column">
	<div class="nav-item my-2  @(ViewData["page"] == "home" ? "active" : "")">
		<a class="nav-link" href="/admin/home" role="button" aria-expanded="false">
			<i class="bi bi-house me-2"></i> Home
		</a>
	</div>
	<div class="nav-item my-2 @(ViewData["page"] == "games" ? "active" : "")">
		<a class="nav-link" href="/admin/games" role="button" aria-expanded="false">
			<i class="bi bi-joystick me-2"></i> Game
		</a>
	</div>
	<div class="nav-item my-2 @(ViewData["page"] == "accounts" ? "active" : "")">
		<a class="nav-link" href="/admin/accounts" role="button" aria-expanded="false">
			<i class="bi bi-people me-2"></i> Tài khoản
		</a>
	</div>
	<div class="nav-item my-2 @(ViewData["page"] == "users" ? "active" : "")">
		<a class="nav-link" href="/admin/users" role="button" aria-expanded="false">
			<i class="bi bi-file-earmark-person me-2"></i> User
		</a>
	</div>
	<div class="nav-item my-2 @(ViewData["page"] == "invoices" ? "active" : "")">
		<a class="nav-link" href="/admin/invoices" role="button" aria-expanded="false">
			<i class="bi bi-receipt me-2"></i> Hoá đơn
		</a>
	</div>
	<div class="nav-item my-2 @(ViewData["page"] == "coupons" ? "active" : "")">
		<a class="nav-link" href="/admin/coupons" role="button" aria-expanded="false">
			<i class="bi bi-ticket me-2"></i> Mã giảm giá
		</a>
	</div>
	<div class="nav-item my-2 @(ViewData["page"] == "articles" ? "active" : "")">
		<a class="nav-link" href="/admin/articles" role="button" aria-expanded="false">
			<i class="bi bi-book me-2"></i> Blog
		</a>
	</div>

	<div class="nav-item my-2 @(ViewData["page"] == "banner" ? "active" : "")">
		<a class="nav-link" href="/admin/banners" role="button" aria-expanded="false">
			<i class="bi bi-newspaper me-2"></i> Banner
		</a>
	</div>
	<div class="nav-item mb-auto">
		<a class="nav-link" href="/home/logout" role="button" aria-expanded="false">
			<i class="bi bi-joystick me-2"></i> Đăng xuất
		</a>
	</div>
	<small class="copyright text-center">
		Copyright © @DateTime.Now.Year by q5nguyenn. Created with <i class="bi bi-heart-fill"
			style="color: var(--red-color);"></i>
	</small>
</div>