@model IEnumerable<CTsinhvien.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Studentname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studenttel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studentbirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studentadress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Studentname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studenttel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studentbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studentadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Studentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Studentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Studentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
