@model List<QShop.Models.Notification>

@{
	ViewData["Title"] = "Thông báo | Qshop";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
	<link rel="stylesheet" href="/css/profile.css" />
	<link rel="stylesheet" href="/css/table.css" />
	<link rel="stylesheet" href="/css/accordion.css" />
}

<div class="container-fluid p-0" style="margin-top: 66px">
	<div class="hero_marketplace bg_white">
		<div class="container">
			<h1 class="text-center text-uppercase">Thông báo</h1>
		</div>
	</div>
</div>


<div class="accordion accordion-flush my-5 container" id="accordionFlushExample">
	@foreach (var item in Model)
	{
		<div class="accordion-item" data-url="/notifications/edit/?id=@item.Id">
			<h2 class='accordion-header @(item.Status =="read" ? "read" :"unread")' id='@("flush-heading" + @item.Id)'>
				<button class="accordion-button collapsed fw-bold fs-6" type="button" data-bs-toggle="collapse"
					data-bs-target='@("#flush-collapse" + @item.Id)' aria-expanded="false" aria-controls='@("flush-collapse" +
				@item.Id)'>
					<i class="bi bi-arrow-return-right"></i> @item.Title - @item.CreatedAt
				</button>
			</h2>
			<div id='@("flush-collapse" + @item.Id)' class="accordion-collapse collapse" aria-labelledby='@("flush-heading" +
			@item.Id)' data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">@item.Content
				</div>
			</div>
		</div>
	}
</div>


@section js {
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script>
		$(".accordion-item").click(function () {
			let that = $(this);
			if (that.find("h2").hasClass("read")) return;
			let url = $(this).data("url");
			$.ajax({
				type: "get",
				contentType: "application/json; charset=utf-8",
				url: url,
				success: function (response) {
					if (response == "Ok") {
						console.log('vao day');
						that.find("h2").removeClass("unread").addClass("read");
						$("#noti-count").text(parseInt($("#noti-count").text()) - 1);
					}
				}
			});
		})
	</script>
}