<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/BTTH.styles.css" asp-append-version="true" />
@model IEnumerable<BTTH.Models.ClassCourse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClsOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClsOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Clsid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Clsid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Clsid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
