@model InvoiceDetailsViewDetails;

@{
	ViewData["Title"] = "Hoá đơn | Qshop";
	ViewData["Page"] = "invoices";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css {
	<link rel="stylesheet" href="/css/table.css" />
}
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">CHI TIẾT HOÁ ĐƠN</h1>
	</div>
</div>
<div class="row px-5">
	<div class="text-end pe-0">
		<a class="btn btn-simple item-green mb-3" href="/admin/invoices"><i class="bi bi-arrow-return-left"></i> Trở về
			trang hoá đơn</a>
	</div>
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th>#ID</th>
				<th>User</th>
				<th>Tài khoản</th>
				<th>Chi tiết giao dịch</th>
				<th>Mã giảm giá</th>
				<th>Ngày giao dịch</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.Invoice.Id</td>
				<td>@Model.User.Email</td>
				<td>
					@foreach (var item in Model.InvoiceDetails)
					{
						<div>@item.account.Email</div>
					}
				</td>
				<td class="text-end">
					@foreach (var item in Model.InvoiceDetails)
					{
						<div>@item.account.Price</div>
					}
					<div>Tổng tiền : @Model.Invoice.Amount</div>
					<div>Giảm giá: - @Model.Invoice.coupon.DiscountPercentage * @Model.Invoice.Amount = @(Model.Invoice.Amount -
						Model.Invoice.TotalAmount) </div>
					<div>__________</div>
					<div>Tổng tiền thanh toán: @Model.Invoice.TotalAmount</div>
				</td>
				<td>@Model.Coupon.Code - @Model.Coupon.Description</td>
				<td>@Model.Invoice.InvoiceDate</td>
				</td>
			</tr>
		</tbody>
	</table>
</div>
