@model QShop.Models.Account
@{
	ViewData["Title"] = "Tài khoản | Qshop";
	ViewData["Page"] = "accounts";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css {
	<link rel="stylesheet" href="/css/customSelect2.css">
}
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">THÊM TÀI KHOẢN</h1>
	</div>
</div>
<form method="post" class="row mx-auto form-main" style="width: 90%" action="/admin/accounts/create">
	@Html.AntiForgeryToken()
	<div class="col-6">
		<div class="blog-img w-100">
			<img src="/images/accounts/account-detail-01.png" id="previewImage" class="card-img-top" />
			<label for="thumbnail" class="blog-img-backdrop">
				<i class="bi bi-camera-fill"></i>
			</label>
		</div>
		<div class="row mt-5">
			<div class="card col">
				<img class="card-img-top" src="/images/accounts/account-detail-01.png" alt="Card image" />
				<div class="card-body">
					<p class="card-text">#1</p>
				</div>
			</div>
			<div class="card col">
				<img class="card-img-top" src="/images/accounts/account-detail-02.png" alt="Card image" />
				<div class="card-body">
					<p class="card-text">#2</p>
				</div>
			</div>
			<div class="card col">
				<img class="card-img-top" src="/images/accounts/account-detail-03.png" alt="Card image" />
				<div class="card-body">
					<p class="card-text">#3</p>
				</div>
			</div>
			<div class="card col">
				<img class="card-img-top" src="/images/accounts/account-detail-04.png" alt="Card image" />
				<div class="card-body">
					<p class="card-text">#4</p>
				</div>
			</div>
			<div class="card col">
				<img class="card-img-top" src="/images/accounts/account-detail-05.png" alt="Card image" />
				<div class="card-body">
					<p class="card-text">#5</p>
				</div>
			</div>
		</div>
		<div class="mb-3">
			<span class="nameInput">Mô tả </span>
			<div class="confirm">
				<textarea class="w-100" name="Description" style="resize: none; height: 235px"
					value="@Model.Description" />@Model.Description</textarea>
			</div>
		</div>
	</div>
	<div class="col-6 d-flex flex-column">
		<div class="mb-3">
			<span class="nameInput">Email </span>
			<div class="confirm">
				<input type="text" class="w-100" placeholder="test@gmail.com" name="Email" value="@Model.Email" />
			</div>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<span class="nameInput">Mật khẩu </span>
			<div class="confirm">
				<input type="text" class="w-100" placeholder="Mật khẩu" name="Password" value="@Model.Password" />
			</div>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="mb-3 col-6">
				<span class="nameInput">Riot Point </span>
				<div class="confirm">
					<input type="number" class="w-100" placeholder="0" name="PrimaryPoint" value="@Model.PrimaryPoint" />
				</div>
				<span asp-validation-for="PrimaryPoint" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<span class="nameInput">Tinh hoa lam </span>
				<div class="confirm">
					<input type="number" class="w-100" name="SecondaryPoint" placeholder="0" value="@Model.SecondaryPoint" />
				</div>
				<span asp-validation-for="SecondaryPoint" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="mb-3 col-6">
				<span class="nameInput">Skin </span>
				<div class="confirm">
					<input type="number" class="w-100" name="Skin" placeholder="0" value="@Model.Skin" />
				</div>
				<span asp-validation-for="Skin" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<span class="nameInput">Cấp độ </span>
				<div class="confirm">
					<input type="number" class="w-100" name="Grade" placeholder="30" value="@Model.Grade" />
				</div>
				<span asp-validation-for="Grade" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="mb-3 col-6">
				<span class="nameInput">Tướng </span>
				<div class="confirm">
					<input type="number" class="w-100" name="Champion" value="@Model.Champion" />
				</div>
				<span asp-validation-for="Grade" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<span class="nameInput">Rank </span>
				<div class="confirm">
					@* <select asp-for="RankId" class="form-control" asp-items="ViewBag.RankId"></select> *@
					<select name="RankId" id="RankId" class="w-100">
						@foreach (var item in ViewData["RankId"] as SelectList)
						{
							<option value="@item.Value" selected='@((Int32.Parse(item.Value) == Model.RankId) ? "selected" : null)'>
								@item.Text</option>
						}
					</select>
				</div>
				<span asp-validation-for="RankId" class="text-danger"></span>
			</div>
		</div>
		<div class="mb-3">
			<span class="nameInput">Game </span>
			<div class="confirm">
				@* <select asp-for="RankId" class="form-control" asp-items="ViewBag.GameId"></select> *@
				<select name="GameId" id="GameId" class="w-100">
					@foreach (var item in ViewData["GameId"] as SelectList)
					{
						<option value="@item.Value" selected='@((Int32.Parse(item.Value) == Model.GameId) ? "selected" : null)'>
							@item.Text</option>
					}
				</select>
			</div>
			<span asp-validation-for="GameId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<span class="nameInput">Giá </span>
			<div class="confirm">
				<input type="text" class="w-100" placeholder="Giá" name="Price" value="@Model.Price" />
			</div>
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<span class="nameInput">Trạng thái </span>
			<div class="confirm">
				<select name="Status" id="Status" class="w-100">
					<option value="not sold" selected='@(Model.Status == "not sold" ? "selected" :null)'>Chưa bán</option>
					<option value="sold" selected='@(Model.Status == "sold" ? "selected" :null)'>Đã bán</option>
					<option value="pending" selected='@(Model.Status == "pending" ? "selected" :null)'>Đang xử lý</option>
				</select>
			</div>
			<span asp-validation-for="Status" class="text-danger"></span>
		</div>
		<div class="text-end">
			<a class="btn btn-simple" href="/admin/accounts">Huỷ bỏ</a>
			<button class="btn" type="submit">Save</button>
		</div>
	</div>
</form>

@section js {
	<script>
		$(document).ready(function () {
			$('#RankId').select2({
				minimumResultsForSearch: Infinity,
				placeholder: 'Chọn rank',
			});
			$('#GameId').select2({
				minimumResultsForSearch: Infinity,
				placeholder: 'Chọn game',
			});
			$('#Status').select2({
				minimumResultsForSearch: Infinity,
				placeholder: 'Chọn trạng thái',
			});
		});
	</script>
}